.userInformation {
    h4 {
        margin: 0;
    }

    p {
        margin: 10px 0px 5px 0px;
        font-family: 'Roboto';
        font-size: .85rem;
        font-weight: bold;
        color: rgb(119, 119, 119);
    }

    span {
        font-weight: 300;
    }
}