.onlineList {
    padding: 0;
    margin-top: -20px;
    list-style-type: none;
    font-size: .8rem;

    li {
        margin-bottom: 20px;
        list-style-type: none;
        display: flex;
        align-items: center;
        font-weight: 500;

        div {
            position: relative;
            margin-right: 20px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                width: 12px;
                height: 12px;
                background-color: rgb(58, 255, 58);
                border: 2px solid white;
                border-radius: 50%;
                position: absolute;
                top: -3px;
                left: 45px;
            }
        }
    }
}